

<html>
    <head>
        {% load static %}
        <script>
            const forces = "{{forces|escapejs }}";
        </script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{% static 'js/tablechart.js' %}"></script>
        <link rel='stylesheet' href="{% static 'css/charts.css' %}"></link>
    </head>
    <body>
        {% if forces %}
            <div id="chart_wrap">
                <div id="chart"></div>
            </div>
        {% else %}
            {{ forces }}
        {% endif %}
    </body>
</html>


